{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="page-banner overlay-dark bg-image" style="background-image: url({% static 'img/bg_image_1.jpg' %});">
    <br>
<div class="container" style="margin-top: 40px; color: aliceblue;">
    <h1 class="text-center">Contact us</h1>
    <br>
    <div class="row mt-lg-3 text-center">
      <div class="col-lg-3">
        <h4><i class="fa fa-phone-square" aria-hidden="true"> Contact</i></h4>
        <p class="text-danger font-weight-bold mt-1"><a href="tel:+8801700000000">+8801700000000 </a> </p>
      </div>
      <div class="col-lg-3">
        <h4><i class="fa fa-envelope"> email</i></h4>
        <p class="font-weight-bold"><a href="mailto:example@gmail.com"> example@gmail.com</a></p>
      </div>

      <div class="col-lg-3">
        <h4><i class="fa fa-address-card-o" aria-hidden="true"> Address</i></h4>
        <p class="font-weight-bold mt-1"><a href="https://goo.gl/maps/uLaXaKMAA5h5kqh27"> Dhaka</a></p>

      </div>
      <div class="col-lg-3">
        <h4><i class="fa fa-clock-o" aria-hidden="true"> Office time</i></h4>
        <p class="font-weight-bold mt-1"><a href="#">24/7</a></p>
      </div>
    </div>
</div>


  </div> <!-- .page-banner -->

  <div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp">Get in Touch</h1>

      <form class="contact-form mt-5">
        <div class="row mb-3">
          <div class="col-sm-6 py-2 wow fadeInLeft">
            <label for="fullName">Name</label>
            <input type="text" id="fullName" class="form-control" placeholder="Full name..">
          </div>
          <div class="col-sm-6 py-2 wow fadeInRight">
            <label for="emailAddress">Email</label>
            <input type="text" id="emailAddress" class="form-control" placeholder="Email address..">
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="subject">Subject</label>
            <input type="text" id="subject" class="form-control" placeholder="Enter subject..">
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="message">Message</label>
            <textarea id="message" class="form-control" rows="8" placeholder="Enter Message.."></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary wow zoomIn">Send Message</button>
      </form>
    </div>
  </div>

  <div class="maps-container wow fadeInUp">
    <div id="google-maps"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14593.928084355504!2d90.4020769!3d23.8725204!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbfd47517eb3e2224!2sKodeeo%20Limited!5e0!3m2!1sen!2sbd!4v1671351503155!5m2!1sen!2sbd" width="2600" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
  </div>


{% endblock content %}