{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="page-banner overlay-dark bg-image" style="background-image: url({% static 'img/1.jpg' %});">
    <div class="container" style="margin-top: 40px; color: aliceblue;">
        <h1 class="text-center">Add & edit Workers</h1>
        <br>
<div class="container">
  <div class="row row-cols-auto">
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock content %}